<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bit_module.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @bit_module.author %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @bit_module.bit_content %>
</p>

<p>
  <strong>Sub topic one:</strong>
  <%= BitModule.find(@bit_module.sub_topic_one).name unless @bit_module.sub_topic_one == 0 %>
</p>

<p>
  <strong>Sub topic two:</strong>
<!--  <%= @bit_module.sub_topic_two %> -->
  <%= BitModule.find(@bit_module.sub_topic_two).name unless @bit_module.sub_topic_two == 0%>
</p>

<%= link_to 'Edit', edit_bit_module_path(@bit_module) %> |
<%= link_to 'Back', bit_modules_path %>
