<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bit_module.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @bit_module.author %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @bit_module.bit_content %>
</p>

<p>
  <strong>Sub topic one:</strong>
  <%= @bit_module.sub_topic_one %>
</p>

<p>
  <strong>Sub topic two:</strong>
  <%= @bit_module.sub_topic_two %>
</p>

<%= link_to 'Edit', edit_bit_module_path(@bit_module) %> |
<%= link_to 'Back', bit_modules_path %>
