<p id="notice"><%= notice %></p>

<p>
  <strong>Date added:</strong>
  <%= @bit_module_name.date_added %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @bit_module_name.last_modified %>
</p>

<p>
  <strong>Author:</strong>
  <%= @bit_module_name.author %>
</p>

<p>
  <strong>Sub topic one:</strong>
  <%= @bit_module_name.sub_topic_one %>
</p>

<p>
  <strong>Sub topic two:</strong>
  <%= @bit_module_name.sub_topic_two %>
</p>

<p>
  <strong>Sub topic three:</strong>
  <%= @bit_module_name.sub_topic_three %>
</p>

<p>
  <strong>Sub topic four:</strong>
  <%= @bit_module_name.sub_topic_four %>
</p>

<p>
  <strong>Sub topic five:</strong>
  <%= @bit_module_name.sub_topic_five %>
</p>

<%= link_to 'Edit', edit_bit_module_name_path(@bit_module_name) %> |
<%= link_to 'Back', bit_module_names_path %>
